* {
    margin: 0;    
    padding: 0;

                        /* index */    
}
.fondo  {
    background-color: #3f51b5;
}

.header {
    background-image: url(../Image/Portada1.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Galdeano', sans-serif;

}

.logo1 {
    padding-left: 80px;
    opacity: 0.8; 
    display: flex;
    align-items: center;
}

.section1 {
    background-color: yellow;

    

}

.principal {
    font-size: 30px;   
    font-family: 'Rampart One', cursive; 
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 5.5px;
}

.gris {
   color: gray;
}

.centrocolor    {
    background-color: white;
}    
 
.centro {
    font-family: 'Galdeano', sans-serif;
    text-align: center;    
    width: 100%;
    height: 400px;
    display: flex;      
    align-items: center;    
    justify-content: center;   
}

.imagenes {
    margin: 20px;
}    
.fondotitulo {
    background-color:white ;
    padding-bottom: 20px;        
}

.grid-container {
    display: grid;
    grid-template-rows: 20px 20px 20px ;
}

.instagram {
    color: yellow;    
}  

                        /* Productos */
.principal1 {
    color: black;
    font-family: 'Galdeano', sans-serif;  

}
.titulo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}
.mover {
    display: inline-block;
    border-style: outset;
    right: 100px;
}

.separacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;

}

                        /* Information */
.fondoPla {
    padding: 100px 0 15px 30px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -120px;

    
}

.fondoAbs {
    padding: 30px 0 15px 30px;
    background-color: #ffd700;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    border-color: black;
    background-color: rgb(182, 182, 182);
    margin-top: 10px;
    margin-right: 20px ;
}

table tr th {
    background-color: gray;
}


                        /* Contact */
.fieldset {
    background-color: #ffd700;
    margin: 0px 0px 0px 20px;
    padding: 10px;

}
form {
    padding-bottom: 30px;
}
                        /* Location */
.mapa {
    display: flex;    
    flex-wrap: wrap;
}
.parrafo5 {
    margin-left: 100px;
}
.recuadro5 {
    padding-bottom: 40px;
    background-color: #ffd700;
}    

